<footer class="site-footer">
  <div class="footer-main">
    <div class="footer-container grid-columns">
      <div class="footer-col">
        <h4>Fancy</h4>
        <ul>
          <li><a href="#">About Fancy</a></li>
          <li><a href="#">Fancy.com</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="#">prodact</a></li>
          <li><a href="#">Magazine</a></li>
          <li><a href="#">Brands</a></li>
          <li><a href="#">Designers</a></li>
        </ul>
      </div>
      
      <div class="footer-col">
  <h4>Contact Us</h4>
  <div class="contact-links">
    <div class="contact-item">
      <img src="imges/icons/phone-call.png" alt="phone">
      <div class="details">
        <a href="tel:0530559095">0530559095</a>
        <a href="tel:0571778989">0571778989</a>
      </div>
    </div>

    <div class="contact-item">
      <img src="imges/icons/whatsapp.png" alt="whatsapp">
      <div class="details">
        <a href="https://wa.me/966530559095">0530559095</a>
        <a href="https://wa.me/966571778989">0571778989</a>
      </div>
    </div>

    <div class="contact-item">
      <img src="imges/icons/email.png" alt="email">
      <div class="details">
        <a href="mailto:info@fancydesign.com.sa">info@fancydesign.com.sa</a>
      </div>
    </div>

    <div class="contact-item">
      <img src="imges/icons/gps.png" alt="location">
      <div class="details">
        <span>Dammam, Kingdom of Saudi Arabia</span>
      </div>
    </div>

  </div>
</div>

    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-container bottom-flex">
      <p>© 2025 Fancy Design. All Rights Reserved.</p>
      <div class="bottom-links">
        Privacy & Terms and Conditions
      </div>
    </div>
  </div>
</footer>