<footer class="site-footer">
  <div class="footer-main">
    <div class="footer-container grid-columns">
      <div class="footer-col">
        <h4>Fancy</h4>
        <ul>
          <li><a href="#">About Fancy</a></li>
          <li><a href="#">Fancy.com</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="#">prodact</a></li>
          <li><a href="#">Interior Design</a></li>
        </ul>
      </div>
      
      <div class="footer-col">
        <h4>Contact Us</h4>
        <div class="social-icons">
          <a href="#"><i class="fab fa-linkedin-in"></i> <img src="imges/icons/circle (2).png" alt=""></a>
          <a href="#"><i class="fab fa-facebook-f"></i> <img src="imges/icons/whatsapp-color.png" alt=""></a>
          <a href="#"><i class="fab fa-pinterest-p"></i> <img src="imges/icons/mail-color.png" alt=""></a>

        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-container bottom-flex">
      <p>© 2025 Fancy Design. All Rights Reserved.</p>
      <div class="bottom-links">
        <a href="#">Privacy</a>
        <a href="#">Terms and Conditions of use</a>
      </div>
    </div>
  </div>
</footer>