<footer class="site-footer">
  <div class="footer-main">
    <div class="footer-container grid-columns">
      <div class="footer-col">
        <h4>Fancy</h4>
        <ul>
          <li><a href="Fancy_about.html">About Fancy Design</a></li>
          <li><a href="Fancy_Service.html">Procurement Service</a></li>
          <li><a href="Fancy_Design.html">Design club</a></li>
          <li><a href="index.html">FANCY.com</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Fancy Business</h4>
        <ul>
          <li>Create New Store</li>
          <li><a href="#">Sell Products</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Explore</h4>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="page_prodact.html">Product</a></li>
          <li><a href="page_brand.html">Brands</a></li>
          <li><a href="page_magazine.html">Magazine</a></li>
          <li><a href="page_designer.html">Designers</a></li>
        </ul>
      </div>

            <div class="footer-col">
        <h4>For Designer</h4>
        <ul>
          <li>How to create store on Fancy</li>
          <li>Contact Us</li>
        </ul>
      </div>
      
      <div class="footer-col">
  <h4>Contact Us</h4>
  <div class="contact-links">
    <div class="contact-item">
      <img src="imges/icons/phone-call.png" alt="phone">
      <div class="details">
        <a href="tel:0530559095">0530559095</a>
      </div>
    </div>

    <div class="contact-item">
      <img src="imges/icons/whatsapp.png" alt="whatsapp">
      <div class="details">
        <a href="https://wa.me/966530559095">0530559095</a>
      </div>
    </div>

    <div class="contact-item">
      <img src="imges/icons/email.png" alt="email">
      <div class="details">
        <a href="mailto:info@fancydesign.com.sa">info@fancydesign.com.sa</a>
      </div>
    </div>

    <div class="contact-item">
      <img src="imges/icons/gps.png" alt="location">
      <div class="details">
        <span>Dammam, Kingdom of Saudi Arabia</span>
      </div>
    </div>

  </div>
</div>

    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-container bottom-flex">
      <p>© 2025 Fancy Design. All Rights Reserved.</p>
      <div class="bottom-links">
        Privacy & Terms and Conditions
      </div>
    </div>
  </div>
</footer>