<header class="main-header">
  <div class="container">
    <div class="logo">
      <h1><a href="index.html">Fancy Design</a></h1>
    </div>

<div class="header-bottom-part">
  <div class="search-container">
    <div class="search-box">
      <div class="category-select" id="dropdown-toggle">
        <span id="selected-text">All Items</span>
        <i class="arrow-down"></i>
        
        <ul class="dropdown-menu">
          <a href="index.html"><li>All Items</li></a>
          <a href="page_prodact.html"><li>Products</li></a>
          <a href="page_interior.html"><li>Interior design</li></a>
          <li>About Fance</li>
        </ul>
      </div>
      <input type="text" placeholder="Search all" />
    </div>
  </div>


</div>

    <div class="auth-links">
      <a href="#" class="join-link">Join</a>
      <a href="#" class="login-link">Login</a>
    </div>
  </div>
</header>
